.info {
  width: 200px;
  overflow-y: auto;
}
.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card {
  display: flex;
  gap: 12px;
  height: 200px;
}

.title {
  font-size: 16px;
  width: 200px;
  margin-bottom: 8px;
}

.details {
  text-decoration: underline;
  color: #40a9ff;
  transition: color 0.3s ease;
}

.details:hover {
  color: #1677ff;
}

.organizer {
  margin-bottom: 8px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  color: #1677ff;
  transition: color 0.3s ease;
}

.link:hover {
  color: #40a9ff;
}
